@import "../../assets/styles/scss/index";

.carousel-slider {
  max-height: 300px;

  @include media(md) {
    max-height: 400px;
  }

  @include media(lg) {
    max-height: 500px;
  }

  @include media(xl) {
    max-height: 600px;
  }
}

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}
